body {
	background-color: LightGreen;
}

h1 {
	color:white;
	background-color:green;
}

img { 
	width:400;
	height: 400;
	text-align: center;
	margin: 10px;
}

.left {
	float: left;
}

